html{
    height: 100% !important;
    min-width: 100% !important;
    min-height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
    padding-right: 5vw;
    padding-left: 5vw
}
#page-landing {
    width: 100%;
    height: 100%;
    
    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);

    text-align: center;
    min-height: 100vh;
    min-height: 100%;
    display: flex;
    /*align-items: center;*/
}

#container {
    margin: auto;
    width: 90%;
    width: clamp(90%, 112rem);
}

main h1 {
    font-size: clamp(4rem, 6.4vw, 8rem);
    font-weight: bold;
}

.location,
h1,
.visit p {
    height: 16vh;
}

.visit a {
    width: 8rem;
    height: 8rem;
    background: #ffd666;

    border: none;
    border-radius: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    transition: background 200ms;
}

.visit a:hover {
    background: #96feff;
}

/*Desktop Version*/

@media (min-width: 1000px) {
    #container {
        /* shorthand background: image repeat position / size */
        padding: 5rem 2rem;

        background: url("../images/bg.svg") no-repeat 80% / clamp(30rem, 54vw, 56rem);
        background-size: 600px 570px;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .location,
    h1,
    .visit p {
        height: initial;
        text-align: initial;
    }

    .location {
        text-align: right;
        font-size: 2.4rem;
        line-height: 1.5;
    }

    main h1 {
        font-weight: bold;
        line-height: 0.88;

        margin: 10vh 0  6.5vh;

        width: min(300px, 80%);
    }
    main h1.animate-up{
        font-size: 67px ;
        line-height: 0.92;
        display: flex;
        
    }

    .visit {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .visit p {
        font-size: 2.4rem;
        line-height: 1.5;
        width: clamp(20rem, 20vw, 30rem);
    }

    .visit a {
        margin: initial;
    }
}
/*{
    margin: 0 !important;
    /*padding: 0 !important;
    margin: 0px !important;
    /*padding: 0px !important;

}
img#logo.animate-up{
    margin-left: 10vw !important;
}

main h1{
    margin-left: 10vw !important;
    margin-top: 3vw !important;
    
}*/

img#logo.animate-up,
h1.animate-up,
p.animate-up {
    margin-left: 0px !important;
    margin-left: none !important;
    padding-left: 0px !important;
    padding-left: none !important;
}

@media (min-width: 1450px){
    #container{
        margin-left: 14vw;
        margin-right: 14vw;
    }
    
}

